/* Smartphones (landscape) ----------- */
@media only screen  and (max-width : 480px) {

	.about {margin-top: 200px}
	.container p, , .act_des , .container ul {line-height: 25px; font-size: 9pt;}   
	.img_des {padding: 5px;}
	.img_des p:nth-child(2), .img_des p:nth-child(3){font-size: 10pt}
	nav a {font-size: 11pt}
	#food_info {height: 400px;}
	#logo_frame {width: 100px;}
	.logo {width: 100px;margin-top: 100px;}
   	#address {width: 80%;}
   	#email a {font-size: 10pt}
   	.contact{display: block; height: 210px;}
   	#email, #meet {width: 100%;}
   	#address a {font-size: 9pt}



}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 768px) {
   
   body {height: 400px;}
   .about {margin-top: 400px}
	.container p,.container ul {line-height: 20px; font-size: 10pt;}
	.img_des {padding: 5px 4px 0px 4px;}
	.img_des p:nth-child(2), .img_des p:nth-child(3) {font-size: 10pt}
	.member .row {margin-top: 50px}
	nav a {font-size: 11pt}
	.activities {opacity: 1;}
	.act_des {width: 300px; height: 630px}
	.act_des h4 {font-size: 20pt;}
	#hover_show, .act_des_hidden {width: 300px;height: 630px;}
	.food {opacity: 1}
	#food_info {height: 500px;}
	#logo_frame {width: 150px;}
   	.logo {width: 150px;margin-top: 150px;}
   	.member_info {margin-top: 20px;}
   	.member_info h4 {font-size: 14pt;}
   	#address {width: 70%;}
   	#email a {font-size: 14pt;margin-top: 240px;}
   	.contact{display: block; height: 380px;}
   	#email, #meet {width: 100%;}
   	.contact h2 {font-size: 25pt;}
   	#food_info{width: 70%;padding: 10px}
   	#address a {font-size: 9pt}

}  
@media only screen and (min-width : 768px) and (max-width: 1224px){
   
   body {height: 400px;}
	h3 {font-size: 20pt;}
   .about {margin-top: 600px}
	.container p,.container ul{line-height: 25px; font-size: 13pt;}
	.img_des {padding: 4px 7px 0px 7px;}
	.img_des p:nth-child(2), .img_des p:nth-child(3){font-size: 10pt; line-height: 15pt;}
	.act_des {height: 400px;}
	.act_des h4 {font-size: 25pt;}
	.member .row {margin-top: 80px}
	nav a {font-size: 11pt}
	.act_des {width: 600px; height: 630px}
	#hover_show, .act_des_hidden {width: 600px;height: 630px;}
	#food_info {height: 600px;}
	#logo_frame {width: 150px;}
	.logo {width: 150px;margin-top: 250px;}
   	#address {width: 80%;}
   	#email a {font-size: 16pt}
   	.contact{display: inline-block; height: 390px;}
   	.contact h2 {font-size: 30pt;}
   	#food_info{width: 80%; padding: 20px}
   	#address a {font-size: 10pt}


}
/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
   
	.about {margin-top: 800px}
	.container p, .act_des {line-height: 30px;}
	nav a {font-size: 12pt}
	h3 {font-size: 25pt;}
	.act_des {width: 800px; height: 630px}
	.act_des h4 {font-size: 25pt;}
	#hover_show, .act_des_hidden {width: 800px;height: 630px;}
	#food_info {height: 480px;}
	.img_des {padding: 1px 5px 0px 5px;}
	.img_des p:nth-child(2), .img_des p:nth-child(3){font-size: 11pt;line-height: 18pt;}
	.member .row {margin-top: 100px}
	#logo_frame {width: 400px;}
   .logo {width: 400px;margin-top: 250px;}
   	#address {width: 60%;}
   	.contact {display: inline-block; height: 420px;}
   	#food_info{width: 90%;padding: 30px}


}
/* Large screens ----------- */
@media only screen and (min-width : 1824px) {

   .about {margin-top: 1000px}
	.container p, .act_des  {line-height: 30px;}
	nav a {font-size: 12pt}
	#food_info {height: 480px;}
	.img_des {padding: 1px 7px 0px 7px;}
	.img_des p:nth-child(2), .img_des p:nth-child(3){font-size: 11pt;line-height: 20pt;}
	.member .row {margin-top: 100px}
	#logo_frame {width: 400px;}
   .logo {width: 400px;margin-top: 350px;}
   	#address {width: 60%;}
   	.contact{display: inline-block; height: 480px;}
   	#food_info{width: 90%;padding: 30px}

}

   