/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
@import "compass/reset";



@font-face {
	font-family: "Canter";
	src: url('../../files/font/Canter_bold.otf');
}
@font-face {
	font-family: "Caviar_Bold";
	src: url('../../files/font/CaviarDreams_Bold.ttf');
}
@font-face {
	font-family: "Caviar";
	src: url('../../files/font/CaviarDreams.ttf');
}




/*Font sizes*/
body {
	z-index: -2;
}

button:focus {
  outline: none;
}
	
.container {
	h1 {
		font-size: 8vw;
	}
	h2 {
		font-size: 6vw;
	}


	h5 {
		font-size: 2.5vw;
	}
	h6 {
		font-size: 2vw;
	}
	p {
		font-size: 16pt;
	}
	ul {
		font-size: 14pt;
		margin: 30px 10px 30px 10px;
	}


}


// Variables

$orange: #e77723;
$gray: #e7e2e2;
$dark_gray: #3d3e42;


// Additional customization
::selection {
  background: $gray; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: $gray; /* Gecko Browsers */
}


.container {

	h1,h2,h3 {
		font-family: "Canter";
	}
	h4, button {
		font-family: "Caviar";
	}
	.desc {
		font-family: "Caviar";
		width: 75%;
		float: right;
	}
	.act_des,.members li {
		font-family: "Caviar";
	}
	.img_des {
		font-size: 12pt;

		p {
			text-align: center;
		}
	}
}



// Main Body

nav {
	background-color: $orange;
	position: absolute;


	.navbar-toggle .icon-bar {
  		background-color: white;
	}

	a {
		color: white;
		text-align: center;
		font-family: "Caviar";
	}

	.navbar-brand img {
		height: 30px;
		width: auto;
	}
}

#logo_frame {
	width: 400px;
	margin: auto;
	z-index: 0;
}

.logo {
	text-align: center;
	display: block;
	position: fixed;
	z-index: 0;

}	



.about {
	width: 100%;
	background-color: white;
	border: 1px solid white;



	h1 {
		color: $orange;
	}
	p {
		margin-bottom: 100px;
	}
}



.activities {
	opacity: 0.95;
	width: 100%;
	background-color: $orange;
	border: 1px solid $orange;

	h1,.desc {
		color: $dark_gray;
	}

	.container {
		text-align: center;

	 	h1, .desc {
	 		text-align: left;
	 	}

	 	.row .mobile_help {
	 		font-family: "Caviar";
	 		margin-top: 20px;
	 		margin-bottom: 20px;
	 	}

	}


		#act {
			margin-top: 50px;
			margin-bottom: 50px;

		}
		.act{
			background-color: $gray;
			color: $dark_gray;
			font-size: 8pt;
			line-height: 10px;
			display: inline-block;
			width: 150px;
			height: 150px;
			padding: 0px;
			margin:0px 15px 10px 15px;
			border: 5px solid $dark_gray;
			vertical-align: middle;
			overflow: hidden;
			border-radius: 75px;
			transition: all 0.3s ease-in-out;
    		-webkit-transition: all 0.3s ease-in-out;
    		-moz-transition: all 0.3s ease-in-out;
    		-ms-transition: all 0.3s ease-in-out;
    		-o-transition: all 0.3s ease-in-out;
			

			* {vertical-align: middle; text-align: center;}

		}
		

			#party, #hat, #speak, #help {
				height: 50px;
				width: auto;
				margin:0px;

			}

			.act_overview {
				height: 150px;

				p {
					font-size: 12pt;
				}
			}

			.act_opt {
				background-color: $dark_gray;
				border: 1px solid $dark_gray;
				width: 100%;
				height: 150px;
				margin: 0px;
				padding: 0px;
				margin-bottom: 0px;
				color: $gray;

				transition: all 0.5s ease-in-out;
	    		-webkit-transition: all 0.5s ease-in-out;
	    		-moz-transition: all 0.5s ease-in-out;
	    		-ms-transition: all 0.5s ease-in-out;
	    		-o-transition: all 0.5s ease-in-out;

	    		p {
	    			border: 2px solid $gray;
	    		}
	    		#babes, #parties {
    				margin-top: 25px;
    			}
    			#cocktail,#bike {
    				margin-top: 40px;
    			}
    			#summit {
    				margin-top: 50px;
    			}

    			p:hover {
    				background-color: $gray;
    				color: $dark_gray 
    			}

			}

			.act_des {
				margin: auto;
				overflow: hidden;

				#hover_show {

					margin: auto;
				}

				.act_des_hidden {

					h4 {
						text-align: center;
					}

					a {
						color: $gray;

					}

					a:hover {
						text-decoration: none;
						color: $dark_gray;
					}

					position: absolute;
					text-align: justify;
					margin: auto;
					margin-bottom: 0px;
		    		opacity: 0;

		    		.act-img-owl .item {
						margin: 3px;

					  	img {
						  display: block;
						  width: 100%;
						  height: 260px;

						}
					}
				}
				.act_des_hidden, #hover_show {
					transition: all 0.3s ease-in-out;
		    		-webkit-transition: all 0.3s ease-in-out;
		    		-moz-transition: all 0.3s ease-in-out;
		    		-ms-transition: all 0.3s ease-in-out;
		    		-o-transition: all 0.3s ease-in-out;
				}
			}






			


		

	
}



.team {
	width: 100%;
	background-color: $gray;
	border: 1px solid $gray;

	h1 {
		color: $orange;
	}
	.img_frame {
		width: 85%;
		margin: auto;
		margin-top: 120px;
		margin-bottom: 70px;
		text-align: center;


		.img {
			width: 200px;
			height: 200px;
			display: inline-block;
			margin: 10px;
    		position: relative;
    		transition: all .2s ease-in-out;
    		-webkit-transition: all .2s ease-in-out;
    		-moz-transition: all .2s ease-in-out;
    		-ms-transition: all .2s ease-in-out;
    		-o-transition: all .2s ease-in-out;
    		overflow: hidden;
    		background-size: 100%;
    		background-repeat: no-repeat;
		}

			#i_1 {
				background-image: url('../../files/team/Andrea.jpg');
			}
			#i_2 {
				background-image: url('../../files/team/Armando.jpg');
			}
			#i_3 {
				background-image: url('../../files/team/Isa.jpg');
			}
			#i_4 {
				background-image: url('../../files/team/Constance.jpg');
			}
			#i_5 {
				background-image: url('../../files/team/Cristina.jpg');
			}
			#i_6 {
				background-image: url('../../files/team/Jean-Yves.jpg');
			}
			#i_7 {
				background-image: url('../../files/team/Ines.jpg');
			}
			#i_8 {
				background-image: url('../../files/team/Vincent.jpg');
			}
			#i_9 {
				background-image: url('../../files/team/Alexia.jpg');
			}
			#i_10 {
				background-image: url('../../files/team/Ivan.jpg');
			}
			#i_11 {
				background-image: url('../../files/team/Roxy.jpg');
			}

		.img_des {
			font-family: "Caviar";
			width: 200px;
			opacity: 1;
			height: 200px;
			background-color: $dark_gray;
			color: $orange;
			display: inline-block;
			text-align: left;
			margin-top: 170px;
			transition: 0.8s;
			-webkit-transition: 0.5s;
			-moz-transition: 0.5s;
			-ms-transition: 0.5s;
			-o-transition: 0.5s;
		}

	}
}
.member {
	width: 100%;
	background-color: white;
	border: 1px solid white;


	h1 {
		color: $orange;
	}

	.row {

		#card {
			
			margin: auto;
			background-image: url('../../files/membership_card.jpg');
			background-size: 100%;
			background-repeat: no-repeat;
			border-radius: 20px;

			@media only screen and (min-width : 768px) {
				width: 450px;
				height: 290px;

			}

			@media only screen and (max-width : 768px) {
				width: 300px;
				height: 190px;
			}
		}

		.member_info {
			font-family: "Caviar";
			h4, p {
				color: $orange;
			}
		}
	}

	#sponsors {
		width: 92%;
		margin: auto;
		margin-top:40px;
		margin-bottom:40px;
		text-align: center;
	}
	.sponsors {
			display: inline-block;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: center;
			margin: 10px 10px 5px 10px;

		@media only screen and (min-width : 768px) {
			width: 10vw;
			height: 6vw;
		}

		@media only screen and (max-width : 768px) {
			width: 20vw;
			height: 12vw;
		}

		filter: grayscale(100%);
		-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		-ms-filter: grayscale(100%);
		-o-filter: grayscale(100%);


		transition: all .2s ease-in-out;
		-webkit-transition: all .2s ease-in-out;
		-moz-transition: all .2s ease-in-out;
		-ms-transition: all .2s ease-in-out;
		-o-transition: all .2s ease-in-out;
	}
		#s_1 {
			background-image: url('../../files/sponsors/carlos y pepes.gif')
		}
		#s_2 {
			background-image: url('../../files/sponsors/arepera.png')
		}
		#s_3 {
			background-image: url('../../files/sponsors/burrito shop.png');
		}
		#s_4 {
			background-image: url('../../files/sponsors/el rey del taco.png')
		}
		#s_5 {
			background-image: url('../../files/sponsors/la movida.jpg')
		}
		#s_6 {
			background-image: url('../../files/sponsors/Guanabara Bistro & Café.png')
		}





	.sponsors:hover {
		transform: scale(1.2);
		filter: grayscale(0%);
		-webkit-filter: grayscale(0%);
		-moz-filter: grayscale(0%);
		-ms-filter: grayscale(0%);
		-o-filter: grayscale(0%);
	}
}

.food {
	width: 100%;
	background-color: $gray;
	border: 1px solid $gray;
	opacity: 0.95;

	h1 {
		color: $orange;
	}
	.row {
		margin-top: 100px;
		margin-bottom: 100px;

		#food_info {
			margin: auto;
			background-color: white;
			overflow: scroll;
			border: 20px solid $dark_gray;

			.food_info {
				display: block;
				padding: 10px;
				background-color: $gray;
				color: $orange;
				text-align: center;
				margin-bottom:10px;
				
				p, ul {
					font-family: "Caviar";
					text-align: left;
				}
				a {
					text-align: center;
					color: $dark_gray;
					font-family: "Caviar";
				}
				a:hover {
					color: white;
					text-decoration: none;
				}

			}
		}
		iframe {
			margin: auto;

		}

	}
}
.contact {
	
	text-align: center;
	font-family: "Caviar";


	h2 {
		font-family: "Canter";
		font-size: 5vw;
	}
}
	#email {
		width: 65%;
		background-color: $orange;
		border: 1px solid $orange;

		a{
			color: $dark_gray;
			text-decoration: none;
			font-size: 20pt;
		}


	}
	#meet {
		width: 35%;
		float: right;
		border: 1px solid $dark_gray;
		background-color: $dark_gray;
		color: $orange;
		text-align: center;

		#address {
			margin: auto;
		}
		p {
			text-align: left;
		}
		img {
			height: 100px;
			width: auto;
			display: block;
			margin: auto;

		}

	}
















